<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Tinoite - Aquilo que você não faz Tidia</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body>
    <header>
      <div class="relative bg-white">
        <div class="max-w-7xl mx-auto px-4 sm:px-6">
          <div class="flex justify-between items-center border-b-2 border-gray-100 py-6 md:justify-start md:space-x-10">
              <%= unless Pow.Plug.current_user(@conn) do %>
                <%= link "About", to: "/about", class: "text-base font-medium text-gray-500 hover:text-gray-900" %>
                <a href="https://github.com/itsmaia/tinoite-elixir", target="_blank" class="text-base font-medium text-gray-500 hover:text-gray-900">
                  Code
                </a>
              <% end %>
              <%= if Pow.Plug.current_user(@conn) do %>
                <%= link "Profile", to: "/profile", class: "text-base font-medium text-gray-500 hover:text-gray-900" %>
              <% end %>
            <div class="hidden md:flex items-center justify-end md:flex-1 lg:w-0">
              <%= if Pow.Plug.current_user(@conn) do %>
                  <%= @current_user.email %>
                  <%= link "Sign out", to: Routes.pow_session_path(@conn, :delete), class: 'ml-8 whitespace-nowrap inline-flex items-center justify-center px-4 py-2 border border-transparent rounded-md shadow-sm text-base font-medium text-white bg-pink-600 hover:bg-pink-700', method: :delete %>
                <% else %>
                  <%= link "Register", to: Routes.pow_registration_path(@conn, :new), class: 'ml-8 whitespace-nowrap inline-flex items-center justify-center px-4 py-2 border border-transparent rounded-md shadow-sm text-base font-medium text-white bg-pink-600 hover:bg-pink-700' %>
                  <%= link "Sign in", to: Routes.pow_session_path(@conn, :new), class: 'ml-8 whitespace-nowrap inline-flex items-center justify-center px-4 py-2 border border-transparent rounded-md shadow-sm text-base font-medium text-white bg-pink-600 hover:bg-pink-700' %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </header>
    <main role="main" class="max-w-7xl mx-auto px-4 sm:px-6">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <%= @inner_content %>
    </main>
  </body>
</html>
